$baseFontSize: 16px;
$baseFontFamily: "HelveticaNeue", Helvetica, Arial, sans-serif;

$textDark: #3C3744;
$textLight: #D0D3C7;
$primary: #052F5F;
$secondary: #5C0029;
$bright: #FFFFFF;
$dark: #D0D3C7;
$darker: #3C3744;

$fontLight: 300;
$fontNormal: 400;
$fontSemiBold: 700;
$fontBold: 900;

$screenXsMax: 420px;
$screenSmMax: 600px;
$screenMdMax: 768px;
$screenLgMax: 1190px;
