.single-page {
    margin-top: 0;
    padding: 0;
}

h1, h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

h3 {
    @media(max-width: $screenSmMax) {
        font-size: pxToEm(24);
    }
}

body {
    font-size: 16px;
}

p {
    font-size: pxToEm(18);
    color: $darker;
    @media(max-width: $screenSmMax) {
        font-size: pxToEm(16);
    }
}

.btn {
    display: block;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background: $secondary;
    color: $dark;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: pxToEm(1);
    transition-duration: .3s;
    font-size: pxToEm(14);
    &:hover {
        background: $secondary-hover;
        transition-duration: .3s;
        cursor: pointer;
        color: $bright;
    }
}

.banner {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
    @media(max-width: $screenSmMax) {
        border-bottom: 10px solid $secondary;
    }
    img {
        width: 100%;
        margin-bottom: 0;
    }
}

.slider-tagline,
.banner-tagline {
    height: 100px;
    background: rgba(92, 0, 41, .7);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
    h4 {
        color: $dark;
        font-size: pxToEm(56);
        text-align: center;
        height: 100%;
        line-height: 100px;
        font-weight: 300;
    }
    @media(max-width: $screenLgMax) {
        height: 75px;
        h4 {
            font-size: pxToEm(48);
            line-height: 75px;
        }
    }
    @media(max-width: $screenSmMax) {
        display: none;
    }
}

a#scroll-up {
    i {
        color: $darkest !important;
    }
    &:hover {
        i {
            color: $darkest;
        }
    }
}
.inner-wrap {
    max-width: 980px;
}

.section-wrapper {
    padding: 50px 0;
    @media(max-width: $screenSmMax) {
        padding: 30px 0;
    }
}

.content-sub-section {
    padding-top: 20px;;
}

.subhead-no-dec {
    background: $dark;
    color: $primary;
    padding-left: 10px;
    margin-bottom: 30px;
}

.section-head {
    margin-bottom: 30px;
    h1, h2 {
        text-align: center;
        font-size: pxToEm(36);
        @media(max-width: $screenSmMax) {
            font-size: pxToEm(30);
        }
    }
    .title-decoration {
        width: 300px;
        margin: 10px auto 0;
        text-align: center;
        position: relative;
        i {
            position: absolute;
            margin-top: -9px;
            margin-left: -8px;
            font-size: 16px;

        }
    }
    &.dark {
        h1, h2 {
            color: $darkest;
        }
        .title-decoration {
            border-bottom: 1px solid $darker;
            i {
                color: $primary;
            }
        }
    }
    &.bright {
        h1, h2 {
            color: $dark;
        }
        .title-decoration {
            border-bottom: 1px solid $dark;
            i {
                color: $bright;
            }
        }
    }
}
.error-msg {
    h1 {
        font-size: pxToEm(50);
    }
    p {
        font-size: pxToEm(26);
        @media(max-width: $screenMdMax) {
            font-size: pxToEm(18);
        }
    }
    a {
        font-size: pxToEm(18);
        color: $secondary;
        display: block;
        font-weight: 900;
        margin-bottom: 10px;
        &:hover {
            color: $darker;
        }
    }
}