#colophon {
    padding: 40px 0;
    background: $darkest;
    .inner-wrap {
        .footer-top {
            .footer-company-info {
                float: left;
                .company-contact {
                    margin-top: 15px;
                    p {
                        font-size: pxToEm(20);
                        color: $bright;
                        line-height: 10px;
                    }
                }
                .footer-logo {
                    background: url(images/logo.jpg) no-repeat;
                    background-size: cover;
                    height: 135px;
                    width: 200px;
                    margin: 0 auto;
                }
            }
            .footer-right {
                text-align: right;
                .footer-nav {
                    float: none;
                    .menu-item {
                        padding-left: 0;
                        a {
                            border-right: 1px solid $dark;
                            padding-right: 15px;
                            padding-left: 15px;
                            &:hover {
                                color: $dark;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                            padding-right: 0;
                        }
                    }
                }
                .footer-social {
                    margin-top: 30px;
                    text-align: right;
                    .social-link {
                        margin-left: 30px;
                        i {
                            color: $darker;
                            font-size: 35px;
                            -webkit-transition-duration: 0.5s; /* Safari */
                            transition-duration: 1s;
                            &:hover {
                                color: $bright;
                                -webkit-transition-duration: 0.5s; /* Safari */
                                transition-duration: 0.5s;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            .copyright-info {
                margin-top: 20px;
                p {
                    line-height: 10px;
                }
            }
        }
    }
}

@media(max-width: $screenMdMax) {
    #colophon .inner-wrap {
        .footer-top {
            .footer-company-info {
                width: 100%;
                text-align: center;
                .footer-logo {
                    width: 150px;
                    height: 102px;
                }
                .company-contact {
                    margin: 20px 0;
                }
            }
            .footer-right {
                .footer-nav .menu-item:last-of-type a {
                    padding-right: 15px;
                }
                .footer-social {
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 40px;
                    .social-link {
                        &:first-of-type {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .footer-bottom {
            .copyright-info {
                p {
                }
            }
        }
    }
}
