.business-template #masthead,
#masthead {
    width: 100%;
    z-index: 999;
    background: $primary;
    @media(max-width: $screenLgMax) {
        border: 3px solid yellow;
    }
    @media(max-width: $screenMdMax) {
        border: 3px solid red;
    }
    @media(max-width: $screenSmMax) {
        border: 3px solid green;
    }
    @media(max-width: $screenXsMax) {
        border: 3px solid orange;
    }
    a {
        color: $dark;
    }
    .header {
        .main-head-wrap {
            padding: 20px 0;
            #header-left-section {
                top: 32px;
                float: none;
                position: absolute;
                width: 190px;
                border: 6px solid $secondary;
                border-top: none;
                background: $bright;
                z-index: 1;
                padding: 10px 20px;
                #header-logo-image {
                    padding: 0;
                    img {
                        max-height: 130px;
                        width: 100%;
                        display: block;
                    }
                }
                #header-text {
                    h1#site-title {

                    }
                }
            }
            #header-right-section {
                .fa.search-top {
                    display: none;
                }
                #site-navigation {
                    li {
                        border-color: $dark;
                        a {
                            font-size: pxToEm(18);
                            &:after {
                                content: none;
                            }
                        }
                        ul.sub-menu {
                            background-color: $bright;
                            li {
                                &:hover {
                                    background-color: $dark;
                                }
                                a {
                                    text-align: center;
                                    color: $darkest;
                                    font-size: pxToEm(14);
                                }
                            }
                        }
                    }
                    .menu-toggle:before {
                        color: $dark;
                    }
                }
            }
        }
    }
}
.main-wrapper {
    .slider-wrap {
        position: relative;
        height: auto;
        overflow: hidden;
        figure {
            margin: 0;
            img {
                width: 100%;
            }
        }
        .slide-prev, .slide-next {
            background-color: $bright;
            transition-duration: 1s;
            a:before {
                color: $darker;
            }
            &:hover {
                background-color: $bright;
                transition-duration: 0.5s;
                a:before {
                    color: $darkest;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}

@media(max-width: $screenLgMax) {
    #masthead {
        .header .main-head-wrap {
            padding: 15px 0;
            #header-left-section {
                width: 160px;
            }
        }
    }
}
@media(max-width: $screenMdMax) {
    #masthead {
        .header .main-head-wrap {
            padding: 30px 0;
            .menu-toggle {
                margin-top: -5px;
            }
            #header-left-section {
                width: 125px;
                border-width: 3px;
                padding: 5px 10px;
                #header-logo-image {
                    img {
                    }
                }
            }
            #header-right-section {
                #site-navigation {
                    #menu-main-navigation {
                        &>li:first-of-type {
                            padding-top: 50px;
                        }
                    }
                    li {
                        a {
                            color: $dark;
                            border-color: $darker;
                            &:hover {
                                color: $bright;
                            }
                        }
                        ul.sub-menu {
                            background-color: transparent;
                            li {
                                &:hover {
                                    background-color: transparent;;
                                }
                                a {
                                    text-align: left;
                                    color: $dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main-wrapper {
        margin-top: 0;
        .slide-prev a, .slide-next a {
            padding: 5px 12px;
        }
    }
}

@media(max-width: $screenSmMax) {
    #masthead {
        .header .main-head-wrap {
            padding: 25px 0;
            #header-left-section {
                width: 105px;
                #header-logo-image {
                    img {
                    }
                }
            }
        }
    }
    .main-wrapper {
        .slider-wrap {
            padding-bottom: 0;
            border-bottom: 10px solid $secondary;
        }
    }
}


