// COMMON VALUES

$baseFontSize: 16px;
$baseFontFamily: "HelveticaNeue", Helvetica, Arial, sans-serif;

$textDark: #3C3744;
$textLight: #D0D3C7;
// $primary: #052F5F;
// $primary: #062244;
$primary-hover: #063C79;
// $secondary: #5C0029;
// $secondary: #71253D;
$secondary-hover: #66002D;
$bright: #FFFFFF;
$dark: #F2F2F2;
$darker: #D0D3C7;
$darkest: #3C3744;

// TESTING GRAYS
$dark: #F2F2F2;
$darker: #808080;
$darkest: #262626;
$calloutGray: #CCCCCC;

// wedding color pallete
// $primary: #022648;
$primary: #00284d;
// $primary: #003566;
$secondary: #791436;
$beige: #f2e5d2;

$fontLight: 300;
$fontNormal: 400;
$fontSemiBold: 700;
$fontBold: 900;

$screenXsMax: 420px;
$screenSmMax: 600px;
$screenMdMax: 768px;
$screenLgMax: 980px;

$browser-context: 16; // Default

@function pxToEm($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
